<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>課題一覧</title>
</head>
<body>
  <h2>課題一覧</h2>
  <table>
    <tr><th>ID</th><th>課題名</th><th>提出済み/未提出</th></tr>
        <% let number = 0 %>
        <% for( let row of data ) { %>
            <tr><td><%= row.id %></td>
            <td><%= row.name %></td>
            <td><%= row.situation %></td>
            <td><a href="/task/<%= number %>"><%= row.name %></a></td></tr>
        <% number += 1 %>
      <% } %>
  </table>
  <a href="/task/create">追加</a>
</body>
</html>