<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= data.name %></title>
</head>
<body>
  <h2><%= data.name %>の詳細</h2>
  <table>
    <tr><th>項目</th><th>データ</th></tr>
    <tr><td>ID</td><td><%= data.id %></td></tr>
    <tr><td>科目</td><td><%= data.subject %></td></tr>
    <tr><td>提出方法</td><td><%= data.method %></td></tr>
    <tr><td>期限</td><td><%= data.limit %></td></tr>
  </table>
  <a href="/task/edit/<%= id %>">編集</a>
  <a href="/task/delete/<%= id %>">削除</a>
  <a href="/task">課題一覧に戻る</a>
</body>
</html>